<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='generator' content='<%= Pluto.generator %>'>

    <title><%= site.title %></title>

    <link rel="alternate" type="application/rss+xml" title="Blog posts (RSS)" href="rss20.xml" />
    <link rel="alternate" type="application/atom+xml" title="Blog posts (Atom)" href="atom.xml" />
    <%= stylesheet_link_tag '/css/font-awesome' %>
    <%= stylesheet_link_tag '/css/blank' %>
  </head>
  <body>
    <header>
      <h1>
        <a href='/'>WRDashboard</a>
      </h1>
      <nav>
        <ul>
          <li>
            <a href='/'>Feeds</a>
          </li>
          <li>
            <a href='/map.html'>Map</a>
          </li>
        </ul>
      </nav>
      <a id='fork_me' href='https://gitlab.com/acant/wrdashboard.ca'>
        Fork Me on <b>Gitlab</b>
      </a>
    </header>

    <aside>
      <h1>Sidebar</h1>
      <section>
        <h2>Last Update</h2>
        <p>
          <% if site.fetched %>
            <%= site.fetched.strftime('%A, %d. %B %Y %H:%M') %>
          <% end %>
        </p>
      </section>
      <section>
        <h2>Subscriptions</h2>
        <ul class='subscriptions' >
        <% site.feeds.each do |feed| %>
          <li>
            <%= link_to( image_tag('/i/feed-icon-10x10.png'), feed.feed_url ) %>
            <%= link_to feed.title, feed.url %>
          </li>
        <% end %>
        </ul>

        <p><a href="opml.xml">OPML feed</a> of all feeds.</p>
      </section>

      <section>
        <h2>Meta</h2>
        <p>
          Powered by <a href='https://github.com/feedreader'>Pluto</a>
        </p>
        <p>
          Questions? Comments?
          Please open an issue on our <a href='https://gitlab.com/acant/wrdashboard.ca/issues'>wrdashboard.ca repository</a>. Thanks!
        </p>
      </section>
    </aside>

    <main class='h-feed'>
      <h1><%= site.title %></h1>

      <%
        items = site.items.latest.limit(50)
        ItemCursor.new( items ).each do |item, new_date, new_feed|
      %>
        <% if new_date %>
          <h2 class='seperator'>
            <time datetime='<%= item.published.strftime('%Y-%m-%d') %>'>
               <%= item.published.strftime('%A, %d. %B %Y') %>
            </time>
          </h2>
        <% else %>
          <hr class='seperator'>
        <% end %>

        <article class='h-entry'>
          <header>
            <h4 class='p-author'>
              <%= link_to item.feed.title, item.feed.url %>
            </h4>
            <h3 class='p-name'>
              <%= link_to item.title, item.url, class: 'u-repost-of' %>
            </h3>
          </header>

          <% if item.content %>
            <section class='e-content'>
              <%= textify( item.content ) %>
            </section>
          <% elsif item.summary %>
            <section class='p-summary'>
              <%= textify( item.summary ) %>
            </section>
          <% else %>
            -/-
          <% end %>

          <footer>
            <time class="dt-published" datetime="<%= item.published.utc.iso8601 %>">
              <%= item.published.strftime('%H:%M') %> &bull;
              <%= time_ago_in_words( item.published ) %>
            </time>
          </footer>
        </article><!-- item -->
      <% end %><!-- each item -->
    </main>
  </body>
</html>
