!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    %meta{ content: 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }

    %title WRDashboard | Waterloo Regional Dashboard

    %link{ rel: 'stylesheet', type: 'text/css', href: '/css/font-awesome.css' }
    %link{ rel: 'stylesheet', type: 'text/css', href: '/css/blank.css' }
    :scss
      header {
        height: 55px;
        h1, nav {
          display: inline-block;
          margin: 0;
          padding: 10px;
          line-height: 1.2;
        }

        h1 {
          font-size: 18px;
        }

        nav ul {
          list-style-type: none;

          li {
            display:      inline;
            padding-left: 20px;
          }
        }

        #fork_me {
          display:          block;
          position:         absolute;
          transform:        rotate(45deg);
          top:              -30px;
          right:            -100px;
          transform-origin: top left;
          padding:          10px 40px;
          z-index:          9999;
          font-size:        18px;
          font-family:      sans-serif;
          text-decoration:  none;
          box-shadow:       0 2px 10px lightgray;
          text-shadow:      -1px -1px 0 darkgreen;
          background:       limegreen;
          color:            white;
        }
      }

  %body
    %header
      %h1
        %a{ href: '/' } WRDashboard
      %nav
        %ul
          %li
            %a{ href: '/' } Feeds
          %li
            %a{ href: '/map.html' } Map
      %a#fork_me{ href: 'https://gitlab.com/acant/wrdashboard.ca'}
        Fork Me on
        %b Gitlab
    %main
      %ul
        - Pathname.glob('./feeds/**/*.ini').map { |x| x.basename('.ini') }.sort.each do |feed|
          %li
            %a{ href: "#{feed}" }= feed.to_s.capitalize
    %footer
      %div
        Generated at:
        %time{ datetime: "#{Time.now}"}= Time.now
